{% block content %}
<h1>Home Page</h1>
<p>Welcome to my portfolio website!</p>

<h3>About Me</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellat fugiat quibusdam? Accusamus,
    repellendus soluta iure quaerat excepturi iste. Alias repellendus vero quas voluptate quis esse sunt ducimus
    pariatur dolorem?</p>

<h3>Contact</h3>
<p>If you would like to get in touch, please email me at <a
        href="mailto:your.email@example.com">your.email@example.com</a>.</p>
<h3>Follow Me</h3>
<ul>
    <li><a href="https://github.com/yourusername">GitHub</a></li>
    <li><a href="https://linkedin.com/in/yourusername">LinkedIn</a></li>
</ul>
{% endblock %}